@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Outfit';
  font-weight: 400;
  src: url('./assets/fonts/Outfit-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Outfit';
  font-weight: 700;
  src: url('./assets/fonts/Outfit-Bold.ttf') format('truetype');
}